.shapeTag {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    width: 194px;
    background-color: #FBFBFB;
    border-radius: 5px;
    padding: 32px;
    margin: 20px 0;
}

.imgTag {
    height: 60px;
    width: 60px;
    border-radius: 5px;
    margin-right: 30px;
}

.colorTag--calorie {
    background-color: #FF000007;
}
.colorTag--protein {
    background-color: #4AB8FF10;
}
.colorTag--lipid {
    background-color: #FD518110;
}
.colorTag--glucide {
    background-color: #F9CE2310;
}

.iconTag {
    padding: 19px 20px 17px 20px;
}

.numberTag {
    color: #282D30;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: start;
}

.textTag {
    color: #74798C;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: start;
}