.colorTag--calorie {
    background-color: #FF000007;
}
.colorTag--protein {
    background-color: #4AB8FF10;
}
.colorTag--lipid {
    background-color: #FD518110;
}
.colorTag--glucide {
    background-color: #F9CE2310;
}
